@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i&subset=cyrillic,cyrillic-ext,latin-ext');

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeueRegular.eot');
    src: url('../fonts/BebasNeueRegular.eot') format('embedded-opentype'),
        url('../fonts/BebasNeueRegular.woff2') format('woff2'),
        url('../fonts/BebasNeueRegular.woff') format('woff'),
        url('../fonts/BebasNeueRegular.ttf') format('truetype'),
        url('../fonts/BebasNeueRegular.svg') format('svg');
} 

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer .container {
    padding: 20px;
    text-align: center;
}

.footer .container p {
    font-size: 12px;
}

.devlogo {
    display: table;
    margin: 0 auto;
}

.devlogo:hover {
    text-decoration: none;
}

.devlogo img {
    display: table-cell;
    vertical-align: top;
}

.devlogo-text {
    display: table-cell;
    vertical-align: top;
    text-align: left;
}

.devlogo span {
    display: block;
    margin-left: 10px;
    font-family: "BebasNeueRegular", sans-serif;
    font-size: 30px;
    line-height: 26px;
    color: #333;
    transition: all .1s ease-in-out;
}

.devlogo span:last-child {
    font-size: 11px;
    font-family: "Arial", sans-serif;
}

@media (max-width: 1199px) {
    .sales-item {
        width: 45% !important;
    }
}

@media (max-width: 991px) {
    .navbar-right {
        float: none !important;
    }

    .navbar-right .btn {
        margin: 0 0 12px !important;
        padding: 2px 4px 1px 30px !important;
        font-size: 10px !important;
    } 

    .navbar-right .btn .fa {
        line-height: 23px;
    }

    .thumbnail {
        padding: 0;
    }

    .review-item {
        margin: 0 0 50px 0!important;
    }
    
    section .row>div:last-child .review-item {
        margin: 0 0 50px 0!important;
    }
    
    .map {
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .sales-item {
        width: 100% !important;
    }

    .navbar-right .btn {
        display: inline-block;
        margin-left: 15px !important;
    }

    .navbar-brand {
        margin-left: 15px !important;
    }

    .navbar-brand span,
    .navbar-brand img {
        display: inline-block !important;
        vertical-align: bottom;
    }

    .navbar-brand span {
        margin-left: 5px;
    }

    .navbar-fixed-top .navbar-toggle {
        margin-right: 25px !important;
    }

    .navbar-fixed-top .navbar-brand {
        margin-left: 25px !important;
    }

    .head-img-item {
        display: block !important;
        margin: 20px 0;
    }

    .thumbnail {
        margin-bottom: 50px;
    }

    section {
        margin-bottom: 50px !important;
    }
    
    article p {
        font-size: 14px !important;
    }
    
    article h1 {
        font-size: 1.5em !important;
        font-weight: 500 !important;
    }    
    
    article h2 {
        font-size: 1.3em !important;
        font-weight: 500 !important;
    }   
    
    article h3 {
        font-size: 1.1em !important;
        font-weight: 500 !important;
    }
    
    section h2 {
        font-size: 1.5em;
        font-weight: 500 !important;
    }
    
    .head-left {
        display: none !important;
    }
    
    .page-header {
        font-size: 1.5em !important;
        font-weight: 500 !important;
        margin-bottom: 15px !important;
    }
    
    .service-menu {
        background: #f5f5f5;
        margin-bottom: 30px;
    }
    
    .service-price {
        margin-top: 0px !important;
    }
}

textarea {
    resize: vertical;
}

.dropdown a .caret {
    margin-left: 5px;
}

.dropdown.open a {
    background: #fff !important;
}

.dropdown-menu {
    margin-top: -3px !important;
    border: none;
    border-top: 3px solid #5dc943;
}

.dropdown-menu a:hover {
    background: #5dc943 !important;
    color: #fff !important;
}

strong, label {
    font-weight: 500;
}

.btn i {
    margin-right: 7px;
}

.btn-primary, .btn-primaryt:focus {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent !important;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    border: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 6px 15px 4px;
    outline: 0 !important;
}

.btn-primary:before, .btn-primary:focus:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #35af17;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.btn-primary:hover, .btn-primary:active {
    background: #5dc943;
}

.btn-primary:hover:before, .btn-primary:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.head {
    display: table;
    width: 100%;
    padding: 20px 0 20px;
}

.head-left, .head-right {
    display: table-cell;
    width: 50%;
    vertical-align: bottom;
}

.logo {
    display: table;
    color: #555;
    transition: all .1s ease-in-out;
}

.logo:hover {
    text-decoration: none;
}

.logo:hover h2 {
    color: #5dc943 !important;
}

.logo img, .logo h2 {
    display: table-cell;
    vertical-align: bottom;
}

.logo img {
    margin-right: 10px;
}

.head-left .logo h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 500;
    color: #555;
    transition: all .1s ease-in-out;
}

.head-left h2 {
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 400;
    color: #888;
}

.head-left h2 i {
    font-size: 5px;
    color: #5dc943;
    vertical-align: middle;
    margin: 0 2px;
}

.head-right {
    text-align: right;
}

.head-right span {
    display: block;
    text-align: right;
    font-size: 1.3em;
    margin-bottom: 10px;
    font-weight: 500;
}

.head-right p {
    margin-bottom: 0;
    color: #888;
}

.navbar-right .btn {
    padding: 5px 10px 4px 37px;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    position: relative;
    color: #fff !important;
    margin: 11px 15px 0 0;
}

.navbar-right .btn:hover {
    background-color: #5dc943 !important;
    box-shadow: none !important;
}

.navbar-right .btn i {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #35af17;
    text-align: center;
    width: 27px;
    line-height: 30px;
    border-right: 1px solid #5dc943;
}

.head-img {
    background-image: url(../images/s1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    display: table;
    width: 100%;
    vertical-align: middle;
    margin-bottom: 100px;
}

.head-img-item {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.head-img-item a span {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    padding: 10px;
}

@-webkit-keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes hvr-wobble-vertical {
    16.65% {
        -webkit-transform: translateY(8px);
        transform: translateY(8px);
    }
    33.3% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    49.95% {
        -webkit-transform: translateY(4px);
        transform: translateY(4px);
    }
    66.6% {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
    83.25% {
        -webkit-transform: translateY(1px);
        transform: translateY(1px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.head-img-item a {
    width: 150px;
    height: 150px;
    display: table;
    margin: 0 auto;
    border-radius: 50%;
    color: #fff;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    background: rgba(53, 175, 23, 0.9);
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    transition: all .2s ease-in-out;
}


.head-img-item a:hover, .head-img-item a:focus, .head-img-item a:active {
    -webkit-animation-name: hvr-wobble-vertical;
    animation-name: hvr-wobble-vertical;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    text-decoration: none;
    background: rgba(53, 175, 23, 1);
}

figure.effect-lexi {
    position: relative;
    float: left;
    overflow: hidden;
    width: 100%;
    height: auto;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
    margin-bottom: 30px;
}

figure.effect-lexi img {
    position: relative;
    display: block;
    max-width: 100%;
}

figure.effect-lexi figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-lexi figcaption::before,
figure.effect-lexi figcaption::after {
    pointer-events: none;
}

figure.effect-lexi figcaption,
figure.effect-lexi figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figure.effect-lexi figcaption>a,
figure.effect-lexi figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

figure.effect-lexi {
    background: -webkit-linear-gradient(-45deg, #000 0%, #fff 100%);
    background: linear-gradient(-45deg, #000 0%, #fff 100%);
}

figure.effect-lexi img {
    margin: -10px 0 0 -10px;
    max-width: none;
    width: -webkit-calc(100% + 10px);
    width: calc(100% + 10px);
    opacity: 0.9;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(10px, 10px, 0);
    transform: translate3d(10px, 10px, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-lexi figcaption::before {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

figure.effect-lexi figcaption::before {
    position: absolute;
    right: 50%;
    top: 50%;
    margin-top: -60px;
    margin-right: -60px;
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 900px rgba(255, 255, 255, 0.2);
    content: '';
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 1);
    transform: scale3d(0.5, 0.5, 1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background-image: url(../swipebox/img/zoom.png);
    background-position: center;
    background-repeat: no-repeat;
}

figure.effect-lexi:hover img {
    opacity: 0.6;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

figure.effect-lexi:hover figcaption::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.sales {
    padding: 30px 20px 0;
    background: #f5f5f5;
    text-align: center;
}

.sales-item {
    display: inline-block;
    vertical-align: top;
    width: 22%;
    background: #fff;
    padding: 15px 15px 40px;
    margin: 0 15px 30px 15px;
    position: relative;
}

.sales-item h3 {
    font-size: 1.7em;
    font-weight: 300;
    line-height: 1.3em;
    margin: 20px 0;
}

.sales-item label {
    font-size: 1em;
    font-weight: 400;
    margin: 0 0 20px;
    color: #777;
    font-style: italic;
}

.sales-item-head {
    height: 140px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: -15px -15px 0;
}

.sales-item-head span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    font-size: 4.1em;
    font-weight: 300;
    color: #5ff23c;
    line-height: 140px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.sales-item .btn {
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 15px;
    width: auto;
}

.services-item {
    position: relative;
    display: block;
    color: #333 !important;
    transition: all .2s ease-in-out;
    margin-bottom: 30px;
}

.services-item:hover {
    transform: translateY(-10px);
}

.services-item img{
    width: 100%;
}

.services-item-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
}

.services-item-caption h3 {
    margin: 0;
    background: #fff;
    display: block;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 1.2em;
}

.services-item-caption span {
    margin: 0;
    background: #fff;
    padding: 5px 10px;
    font-size: 1.5em;
    font-weight: 500;
    color: #35af17;
}

.services-item-caption i {
    font-size: 0.7em;
}

.review-item {
    border-left: 1px solid #5dc943;
    padding-left: 20px;
    margin-right: 50px;
    margin-bottom: 80px;
}

.review-item p {
    line-height: 1.5em;
}

.review-item span {
    display: block;
    text-align: right;
    font-style: italic;
    color: #777;
}

section {
    margin-bottom: 100px;
}

section:last-child {
    margin-bottom: 10px;
}

section h2 {
    margin: 0 0 30px;
    font-weight: 300;
}

section .row>div:last-child .review-item {
    margin-right: 0;
    margin-left: 50px
}

section .row:last-child .review-item {
    margin-bottom: 0;
}

article p {
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 2em;
}

article h1 {
    font-size: 2em;
    margin: 0 0 20px;
    font-weight: 400;
}

article h2 {
    font-size: 1.7em;
    margin: 0 0 10px;
    font-weight: 500;
}

article h3 {
    font-size: 1.5em;
    margin: 0 0 10px;
    font-weight: 500;
}

.g-recaptcha {
    transform:scale(0.89);
    transform-origin:0 0;
    margin-bottom: 10px;
}

.new-header {
    position: fixed;
}

.navbar .container {
    padding: 0;
}

.gallery-item {
    display: block;
    margin-bottom: 30px;
}

.gallery-item img {
    transition: all .2s ease-in-out;
    width: 100%;
}

.gallery-item:hover {
    text-decoration: none;
}

.gallery-item:hover img {
    transform: scale(1.02);
}

.gallery-item h3 {
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    margin: 10px 0 0 0;
}

.service-price {
    display: inline-block;
    background: #5dc943;
    color: #fff;
    padding: 1px 10px;
    font-size: 2em;
    font-weight: 500;
    margin: -20px 0 30px 0;
}

.service-price i {
    font-size: 0.7em;
}

.service-options {
    padding: 0 0 0 15px;
    margin-bottom: 30px;
}

.service-options li {
    margin: 0 0 10px 0;
}

.service-subheader {
    font-weight: 500;
    font-size: 1.6em;
    margin: 30px 0 15px 0;
}

.service-menu {
    list-style: none;
    padding: 0;
    border-right: 1px solid #5dc943;
    text-align: right;
}

.service-menu li a {
    display: block;
    padding: 7px 20px 7px 0;
    color: #333;
    transition: all .2s ease-in-out;
}

.service-menu li a:hover, .service-menu li a.active {
    color: #35af17;
    text-decoration: none;
    box-shadow: inset -7px 0 0 #5dc943;
}

body .doc {
    margin-bottom: 50px !important;
    display: block;
}

.price-item {
    text-align: center;
    margin-bottom: 50px;
}

.price-item:hover {
    text-decoration: none;
}

.price-item:hover i {
    transform: rotate(360deg);
}

.price-item:hover p {
    color: #5dc943;
}

.price-item p {
    color: #333;
    margin: 15px 0 0 0;
    transition: all .2s ease-in-out;
}

.price-item i {
    margin: 0 auto;
    display: block;
    width: 90px;
    height: 90px;
    background: #5dc943;
    font-size: 3em;
    color: #fff;
    vertical-align: middle;
    line-height: 90px;
    border-radius: 50%;
    transition: all .5s ease-in-out;
}

.post-block {
    background: #f5f5f5;
    padding: 15px;
    margin-bottom: 50px;
}

.post-block .g-recaptcha {
    transform:scale(1);
}

.post-block h2 {
    margin: 0 0 20px;
    font-size: 1.3em;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px;
    font-weight: 400;
}

.news-item {
    display: block;
    color: #333;
    padding: 20px;
    position: relative;
    transition: all .2s ease-in-out;
    margin-bottom: 40px;
}

.news-item:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    color: #333;
    text-decoration: none;
}

.news-item:hover h3 {
    color: #35af17;
}

.news-item img {
    margin-bottom: 20px;
    width: 100%;
}

.news-item h3 {
    margin: 2px 0 10px 0;
    font-size: 1.3em;
    transition: all .2s ease-in-out;
}

.news-item span {
    display: block;
    font-style: italic;
    color: #777;
    font-size: 12px;
}

.news-item p {
    text-align: justify;
    margin-bottom: 0;
}

body .dropdown-menu .active a {
    background: #5dc943 !important;
}

.price-block {
    margin: 50px 0;
}

.price-block p {
    font-size: 1em;
}

th {
    font-weight: 500;
}

.topic-date {
    display: inline-block;
    margin: 0 0 10px;
    background: #5dc943;
    color: #fff;
    padding: 3px 10px;
    font-style: italic;
}

.navbar-brand img {
    margin-top: 10px;
}

.btn-hz {
    margin-bottom: 40px;
    padding: 10px 20px 10px 60px;
    position: relative;
}

.btn-hz i {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    line-height: 40px;
    font-size: 1.4em;
    background: #35af17;
    padding: 0 10px;
}

@-webkit-keyframes hvr-icon-buzz {
    0% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}
@keyframes hvr-icon-buzz {
    0% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

.logo-i {
    -webkit-animation-name: hvr-icon-buzz;
    animation-name: hvr-icon-buzz;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(.41, -0.24, .75, 1.21);
    animation-timing-function: cubic-bezier(.41, -0.24, .75, 1.21);
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.eblogo {
    display: table;
}

.logo-t, logo-i {
    display: table-cell;
}